include ./partials/header.pug

p Merhaba #{username},
p Bugün yeni bir şey öğrenmeye hazır mısın? Learnify'da seni bekleyen dersler var!
p(style="font-size:12px;color:#888;") Bu e-posta Learnify uygulamasından gönderilmiştir.

include ./partials/footer.pug
