doctype html
html
  head
    meta(charset="UTF-8")
    title= subject
  body
    h2= subject
    p Merhaba #{username},
    p Bugün yeni bir şey öğrenmeye hazır mısın? Learnify'da seni bekleyen dersler var!
    p(style="font-size:12px;color:#888;") Bu e-posta Learnify uygulamasından gönderilmiştir.
