include ./partials/header.pug

p Merhaba #{username},
p Bugün için kısa bir meditasyon zamanı ayırmayı unutma. Zihnini dinlendir!
img(src=`https://yourdomain.com/email/opened?userId=${userId}&category=meditation` width='1' height='1' style='display:none;')

include ./partials/footer.pug
