doctype html
html
  head
    meta(charset="UTF-8")
    title= subject
  body
    h2= subject
    p Merhaba #{username},
    p Bugün yeni arkadaşlar edinmek için harika bir gün! FriendZone'da yeni önerilerin var.
    p(style="font-size:12px;color:#888;") Bu e-posta FriendZone uygulamasından gönderilmiştir.
