doctype html
html
  head
    meta(charset="UTF-8")
    title= subject
  body
    h2= subject
    p Merhaba #{username},
    p Gelen kutunda okunmamış mesajların var! Hemen kontrol et.
    p(style="font-size:12px;color:#888;") Bu e-posta EliteDating uygulamasından gönderilmiştir.
