include ./partials/header.pug

p Merhaba #{username},
p EliteDating'e hoşgeldin! Profilini tamamla ve yeni insanlarla tanışmaya başla.
p(style="font-size:12px;color:#888;") Bu e-posta EliteDating uygulamasından gönderilmiştir.

include ./partials/footer.pug
