.email-footer(style="border-top:1px solid #eee;margin-top:32px;padding-top:16px;text-align:center;font-size:13px;color:#888;")
  | #{footer}
  br
  | Bu e-posta otomatik olarak gönderilmiştir. Yanıtlamayınız.
  br
  a(href="https://yourcompany.com" style="color:#2d3e50;text-decoration:none;font-weight:bold;") Şirket Adı
